#menu-toggle {
            font-size: 30px;
            color:   #007299;
            padding: 0px;
        }


        #profile {
            margin-top: 75px;
            margin-bottom: 75px;
        }


        .btn.outline {
            font-size:22px;
    background: none;
    padding: 10px 35px;
}
.btn-primary.outline {
    border: 4px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.headermessage {
  margin: 19px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:200px;
    text-align: center;
    vertical-align: bottom;
}
.image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 150px;
    background-color: rgba(3,3,3,0.0);
    color: rgba(6,6,6,0.0);
}
.image-block:hover > p {
    background-color: rgba(3,3,3,0.5);    
    color: white;    
}

.img-responsive {
    margin: 0 auto;
}

#tiles {
    margin-bottom: 80px;
}

#proj-logo {
    margin-right: 10px; 
}

figcaption {
    font-size: 8pt;
    font-family: "Times New Roman";
    text-align: center;
}

figure {
    margin-top: 20px;
    margin-bottom: 20px;
}

